* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	min-height: 100%;
	/* font-size: 16px; */
	font-size: calc(15px + 0.390625vw);
	font-size: calc(9px + 0.8vw);
}
body {
	font-family: "Play", sans-serif;
	width: 100%;
	max-width: 1440px;
	/* min-height: 100%; */
	margin: auto;
	background-color: hsl(225 100% 5% / 1);
	color: hsl(225 100% 100% / 1);
	position: relative;
}
.main {
	width: 100%;
	max-width: 1440px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.copyright {
	/* position: absolute; */
	/* bottom: 1.5rem; */
	/* right: 1rem; */
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
}
.copyright a {
	color: white;
	padding: 0.4rem 1rem;
	border: 1px solid wheat;
	margin-left: 1rem;
	border-radius: 0.2rem;
	text-decoration: none;
	/* background: darkgoldenrod; */
	background-color: hsl(225 100% 5% / 1);
	display: inline-flex;
	/* justify-content: center; */
	align-items: center;
	gap: 0.5rem;
}
.copyright img {
	width: 1rem;
}
