@media (width < 730px) {
	.section {
		display: block;
		position: relative;
	}
	.section .section__card {
		margin-block: 1rem;
	}
	.footer {
		position: absolute;
		bottom: 3rem;
		width: 90%;
	}
}
@media (orientation: portrait) {
	.section {
		display: block;
		position: relative;
	}
	.section .section__card {
		margin-block: 1rem;
	}
	.footer {
		position: absolute;
		bottom: 3rem;
		left: 5%;
	}
}
