@media (width < 730px) {
	.section {
		display: block;
		position: relative;
	}
	.section__card {
		margin-block: 1rem;
	}
	.section__card h3 {
		font-size: max(16px, 1.2rem);
	}
	.section__card * {
		text-align: unset;
	}
	.footer {
		position: absolute;
		bottom: 3rem;
		width: 90%;
	}
	.footer li {
		font-size: max(16px, 1.2rem);
	}
}
@media (orientation: portrait) {
	.section {
		display: block;
		position: relative;
	}
	.section__card {
		margin-block: 1rem;
	}
	.section__card h3 {
		font-size: max(16px, 1.2rem);
	}
	.section__card * {
		text-align: unset;
	}
	.footer {
		position: absolute;
		bottom: 3rem;
		left: 5%;
	}
	.footer li {
		font-size: max(16px, 1.2rem);
	}
}
