@media (width < 730px) {
	.section {
		display: block;
		position: relative;
		/* z-index: 0; */
	}
	.section h2 {
		font-size: max(20px, 1.2rem);
	}
	.section__card {
		margin-block: 1rem;
	}
	.section__card h3 {
		font-size: max(18px, 1.2rem);
	}
	.section__card p {
		font-size: max(16px, 1.2rem);
		border-left: 3px inset whitesmoke;
		padding-left: 0.5rem;
	}
	.section__card * {
		text-align: unset;
	}
	.footer {
		position: absolute;
		left: 5%;
		bottom: 5rem;
		width: 90%;
	}
	.footer li {
		font-size: max(16px, 1.2rem);
	}
}
@media (orientation: portrait) {
	.section {
		display: block;
		position: relative;
		/* z-index: 0; */
	}
	.section h2 {
		font-size: max(20px, 1.2rem);
	}
	.section__card {
		margin-block: 1rem;
	}
	.section__card h3 {
		font-size: max(18px, 1.2rem);
	}
	.section__card p {
		font-size: max(16px, 1.2rem);
		border-left: 3px inset whitesmoke;
		padding-left: 0.5rem;
	}
	.section__card * {
		text-align: unset;
	}
	.footer {
		position: absolute;
		left: 5%;
		bottom: 5rem;
		width: 90%;
	}
	.footer li {
		font-size: max(16px, 1.2rem);
	}
}
